*{
	margin: 0;
	padding: 0;
}


.div1{
	width: 1000px;
	margin: 0 auto;
	display: grid;
	grid-template-columns:  25px 633px 317px 25px;
	grid-template-rows: 25px 25px 300px 250px 125px  170px 100px 250px 25px;
	grid-gap: 15px;
}



.list1{
	display: inline-flex;
	list-style: none;
	
}


a {
	margin-left: 20px;
	text-align: center;
	color: white;
	text-decoration-line: none;
	display: block;

}
 
li {
	display: block;
	float: left;
	position: relative;
	text-decoration: none;
	font-size: 12px;
	font-weight: 500;
	
}

li:hover{
	cursor: pointer;
}

ul li ul li {
	font-size: 16px;
	font-weight: 500;
}

ul li ul{
	visibility: hidden;
	position: absolute;
	display: none;
}

ul li:hover > ul, ul li ul:hover{
	visibility: visible;
	opacity: 1;
	display: block;
	background-color: black;
	padding: 2px;
}


nav{
	width: 950px;
	background-color: black;
	grid-row: 2/3;
	grid-column: 2/4;
}

header{
	grid-row: 1/2;
	grid-column: 2/4;
}

.div2{
  
    grid-row: 3/4;
	grid-column: 1/5;

}
.img1{
	width: 1000px;
	height: auto;
	
}

.div3{
	grid-row: 4/5;
	grid-column: 2/4;
}
.div4{
	grid-row: 5/6;
	grid-column: 1/5;
}

.div5{
	grid-row: 6/7;
	grid-column: 1/5;
}

.div6{
	grid-row: 7/8;
	grid-column: 2/4;
}

.div7{
	grid-row: 8/9;
	grid-column: 2/3;
}

.div8{
	grid-row: 9/10;
	grid-column: 3/4;
}

footer{
	grid-row: 10/11;
	grid-column: 1/5;
}